services:
  frontend:
    image: test:latest
    ports: 
      - 3000:8080
  db:
    image: postgres:latest
    container_name: local_pgdb
    env_file:
      - ./src/environment/db.env
    volumes:
      - ./data:/var/lib/postgresql/data
    ports:
      - 5432:5432

  pgadmin:
    image: dpage/pgadmin4:latest
    env_file:
      - ./src/environment/pgadmin.env
    ports:
      - 7000:80
