@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,500;1,400&display=swap');
@import "reset";
@import "fonts";
@import "pallete";

/*=====================*/
body {
    font-family: $DM;
    font-family: $Roboto;
    background-color: $gray;
}

main {
    color: $white;
}

.wrapper {
    display: flex;
    column-gap: 10px;
    justify-content: center;
    min-height: 100vh;

    &__content {
        display: flex;
        column-gap: 10px;
        flex: 1;
    }

}

.navigation {
    position: relative;
    background-color: $brown;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 4px 1px 31px 1px $brown;
    -moz-box-shadow: 4px 1px 31px 1px $brown;
    box-shadow: 4px 1px 31px 1px $brown;
}

nav>ul {
    display: flex;
    flex-direction: column;
}

.nav__list>li>a {
    text-decoration: none;
    color: $white;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
}

.header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $green;
    flex-direction: column;
}

.article {
    background: $red;
    padding: 10px;
    min-width: 200px;
    flex-grow: 1;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        padding: 15px 0;
        align-items: center;
        justify-content: space-around;
        align-content: flex-start;
    }

}

.aside {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: $red;
    min-width: 130px;
}

.footer {
    display: flex;
    height: 20%;
    min-height: 50px;
    max-height: 150px;
    align-items: center;
    justify-content: center;
    background-color: $violet;
}

/*==================*/
.menu {
    &__toggle {
        opacity: 0;
        position: absolute;
        top: 20px;
        left: 100%;
        transform: translateX(-120%);
        width: 25px;
        height: 25px;
    }

    &__btn {
        display: flex;
        align-items: center;
        position: absolute;
        top: 20px;
        left: 100%;
        transform: translateX(-120%);
        width: 25px;
        height: 25px;
        cursor: pointer;
        z-index: 5;
    }

    &__btn>span,
    &__btn>span::before,
    &__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $white;
        transition: all 0.3s ease-in-out;
    }

    &__btn>span::before {
        content: '';
        top: -8px;
    }

    &__btn>span::after {
        content: '';
        top: 8px;
    }

    &__toggle:checked~&__btn>span {
        transform: rotate(45deg);
    }

    &__toggle:checked~&__btn>span::before {
        top: 0;
        transform: rotate(0);
    }

    &__toggle:checked~&__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }
}

#menu__toggle:checked~.nav__list {
    min-width: 200px;
}

.nav {
    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        transition: all 0.3s ease-in-out;
        transition-delay: 0.1s;
    }

    &__item {
        display: block;
        padding: 12px 24px;
        color: $white;
        font-weight: 600;
    }
}

/*Accordion*/
#chck1,
#chck2 {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.tab {
    width: 100%;
    overflow: hidden;

    &__label{
        display: flex;
        justify-content: space-between;
        padding: 15px;
        background: $light-red;
        font-weight: bold;
        cursor: pointer;
    }

    &__label:hover{
        background: $red;
    }

    &___label::after {
        content: '\2192';
        width: 1em;
        height: 1em;
        text-align: center;
        transition: all 0.3s ease-in-out;
    }

    &__content {
        max-height: 0;
        padding: 0 1em;
        transition: all 0.3s ease-in-out;
    }
}

input:checked+.tab__label {
    background: $red;
}

input:checked+.tab__label::after {
    transform: rotate(90deg);
}

input:checked~.tab__content {
    max-height: 100vh;
    padding: 1em;
}

/*Dropdown*/
.dropdown-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    justify-content: space-evenly;
}

.dropbtn {
    background-color: $blue;
    color: $white;
    padding: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: $white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px $black;
    z-index: 1;
}

.dropdown-content {
    a {
        color: $black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;

    }
}

.dropdown:hover {
    .dropdown-content {
        display: block;
        transition: all 0.3s ease-in-out;
    }
}

@media screen and (max-width: 640px) {
    .wrapper {
        flex-direction: column;
        &__content {
            flex-direction: column-reverse;
            min-height: 100vh;
        }
    }

    .dropdown-wrapper {
        flex-direction: column;
    }

    .dropdown-content {
        min-width: 100%;
    }

    .dropdown:focus~.dropdown-content {
        display: block;
        position: relative;
        transition: all 0.3s ease-in-out;
    }

    #navigation-button~#nav-content:focus,
    #navigation-button:focus~#nav-content {
        display: block;
    }

    .footer {
        position: fixed;
        bottom: 0;
        min-width: 100%;
    }

    #menu__toggle~.nav__list {
        height: 50px;
    }

    #menu__toggle:checked~.nav__list {
        height: auto;
    }
}

@media screen and (min-width: 2000px) {
    .article {
        max-width: 25%;
    }
}